Only look at Pclass, Age, and Gender

In [2]:
import pandas as pd
import numpy as np
import sklearn 
from sklearn import preprocessing
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [4]:
train.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [5]:
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [6]:
# Feature Selection
features_1 = train[["Pclass", "Sex", "Age", "Survived"]]

In [7]:
features_1.shape
#print(train["Pclass"].isnull().sum())
#print(train["Embarked"].isnull().sum())

(891, 4)

In [8]:
# Get rid of nan
features_1 = features_1.dropna()

In [9]:
features_1

     Pclass     Sex   Age  Survived
0         3    male  22.0         0
1         1  female  38.0         1
2         3  female  26.0         1
3         1  female  35.0         1
4         3    male  35.0         0
6         1    male  54.0         0
7         3    male   2.0         0
8         3  female  27.0         1
9         2  female  14.0         1
10        3  female   4.0         1
11        1  female  58.0         1
12        3    male  20.0         0
13        3    male  39.0         0
14        3  female  14.0         0
15        2  female  55.0         1
16        3    male   2.0         0
18        3  female  31.0         0
20        2    male  35.0         0
21        2    male  34.0         1
22        3  female  15.0         1
23        1    male  28.0         1
24        3  female   8.0         0
25        3  female  38.0         1
27        1    male  19.0         0
30        1    male  40.0         0
33        2    male  66.0         0
34        1    male  28.0         0
35        1    male  42.0         0
37        3    male  21.0         0
38        3  female  18.0         0
..      ...     ...   ...       ...
856       1  female  45.0         1
857       1    male  51.0         1
858       3  female  24.0         1
860       3    male  41.0         0
861       2    male  21.0         0
862       1  female  48.0         1
864       2    male  24.0         0
865       2  female  42.0         1
866       2  female  27.0         1
867       1    male  31.0         0
869       3    male   4.0         1
870       3    male  26.0         0
871       1  female  47.0         1
872       1    male  33.0         0
873       3    male  47.0         0
874       2  female  28.0         1
875       3  female  15.0         1
876       3    male  20.0         0
877       3    male  19.0         0
879       1  female  56.0         1
880       2  female  25.0         1
881       3    male  33.0         0
882       3  female  22.0         0
883       2    male  28.0         0
884       3    male  25.0         0
885       3  female  39.0         0
886       2    male  27.0         0
887       1  female  19.0         1
889       1    male  26.0         1
890       3    male  32.0         0

[714 rows x 4 columns]

In [10]:
bins = (-1, 0, 5, 12, 18, 25, 35, 60, 120)
group_names = ['Unknown', 'Baby', 'Child', 'Teenager', 'Student', 'Young Adult', 'Adult', 'Senior']
# also try fewer buckets
categories = pd.cut(features_1.Age, bins, labels=group_names)
features_1["Age_cat"] = categories
features_1 = features_1.drop("Age", axis=1)
features_1

     Pclass     Sex  Survived      Age_cat
0         3    male         0      Student
1         1  female         1        Adult
2         3  female         1  Young Adult
3         1  female         1  Young Adult
4         3    male         0  Young Adult
6         1    male         0        Adult
7         3    male         0         Baby
8         3  female         1  Young Adult
9         2  female         1     Teenager
10        3  female         1         Baby
11        1  female         1        Adult
12        3    male         0      Student
13        3    male         0        Adult
14        3  female         0     Teenager
15        2  female         1        Adult
16        3    male         0         Baby
18        3  female         0  Young Adult
20        2    male         0  Young Adult
21        2    male         1  Young Adult
22        3  female         1     Teenager
23        1    male         1  Young Adult
24        3  female         0        Child
25        3  female         1        Adult
27        1    male         0      Student
30        1    male         0        Adult
33        2    male         0       Senior
34        1    male         0  Young Adult
35        1    male         0        Adult
37        3    male         0      Student
38        3  female         0     Teenager
..      ...     ...       ...          ...
856       1  female         1        Adult
857       1    male         1        Adult
858       3  female         1      Student
860       3    male         0        Adult
861       2    male         0      Student
862       1  female         1        Adult
864       2    male         0      Student
865       2  female         1        Adult
866       2  female         1  Young Adult
867       1    male         0  Young Adult
869       3    male         1         Baby
870       3    male         0  Young Adult
871       1  female         1        Adult
872       1    male         0  Young Adult
873       3    male         0        Adult
874       2  female         1  Young Adult
875       3  female         1     Teenager
876       3    male         0      Student
877       3    male         0      Student
879       1  female         1        Adult
880       2  female         1      Student
881       3    male         0  Young Adult
882       3  female         0      Student
883       2    male         0  Young Adult
884       3    male         0      Student
885       3  female         0        Adult
886       2    male         0  Young Adult
887       1  female         1      Student
889       1    male         1  Young Adult
890       3    male         0  Young Adult

[714 rows x 4 columns]

In [15]:
final_features_1 = pd.get_dummies(features_1, columns=["Pclass", "Sex", "Age_cat"], drop_first=False)

In [17]:
print(final_features_1.shape)
final_features_1

(714, 14)

,Survived,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,Age_cat_Adult,Age_cat_Baby,Age_cat_Child,Age_cat_Senior,Age_cat_Student,Age_cat_Teenager,Age_cat_Unknown,Age_cat_Young Adult
0,0,0,0,1,0,1,0,0,0,0,1,0,0,0
1,1,1,0,0,1,0,1,0,0,0,0,0,0,0
2,1,0,0,1,1,0,0,0,0,0,0,0,0,1
3,1,1,0,0,1,0,0,0,0,0,0,0,0,1
4,0,0,0,1,0,1,0,0,0,0,0,0,0,1
6,0,1,0,0,0,1,1,0,0,0,0,0,0,0
7,0,0,0,1,0,1,0,1,0,0,0,0,0,0
8,1,0,0,1,1,0,0,0,0,0,0,0,0,1
9,1,0,1,0,1,0,0,0,0,0,0,1,0,0
10,1,0,0,1,1,0,0,1,0,0,0,0,0,0
11,1,1,0,0,1,0,1,0,0,0,0,0,0,0
12,0,0,0,1,0,1,0,0,0,0,1,0,0,0
13,0,0,0,1,0,1,1,0,0,0,0,0,0,0
14,0,0,0,1,1,0,0,0,0,0,0,1,0,0
15,1,0,1,0,1,0,1,0,0,0,0,0,0,0
16,0,0,0,1,0,1,0,1,0,0,0,0,0,0
18,0,0,0,1,1,0,0,0,0,0,0,0,0,1
20,0,0,1,0,0,1,0,0,0,0,0,0,0,1
21,1,0,1,0,0,1,0,0,0,0,0,0,0,1
22,1,0,0,1,1,0,0,0,0,0,0,1,0,0
23,1,1,0,0,0,1,0,0,0,0,0,0,0,1
24,0,0,0,1,1,0,0,0,1,0,0,0,0,0
25,1,0,0,1,1,0,1,0,0,0,0,0,0,0
27,0,1,0,0,0,1,0,0,0,0,1,0,0,0
30,0,1,0,0,0,1,1,0,0,0,0,0,0,0
33,0,0,1,0,0,1,0,0,0,1,0,0,0,0
34,0,1,0,0,0,1,0,0,0,0,0,0,0,1
35,0,1,0,0,0,1,1,0,0,0,0,0,0,0
37,0,0,0,1,0,1,0,0,0,0,1,0,0,0
38,0,0,0,1,1,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
856,1,1,0,0,1,0,1,0,0,0,0,0,0,0
857,1,1,0,0,0,1,1,0,0,0,0,0,0,0
858,1,0,0,1,1,0,0,0,0,0,1,0,0,0
860,0,0,0,1,0,1,1,0,0,0,0,0,0,0
861,0,0,1,0,0,1,0,0,0,0,1,0,0,0
862,1,1,0,0,1,0,1,0,0,0,0,0,0,0
864,0,0,1,0,0,1,0,0,0,0,1,0,0,0
865,1,0,1,0,1,0,1,0,0,0,0,0,0,0
866,1,0,1,0,1,0,0,0,0,0,0,0,0,1
867,0,1,0,0,0,1,0,0,0,0,0,0,0,1
869,1,0,0,1,0,1,0,1,0,0,0,0,0,0
870,0,0,0,1,0,1,0,0,0,0,0,0,0,1
871,1,1,0,0,1,0,1,0,0,0,0,0,0,0
872,0,1,0,0,0,1,0,0,0,0,0,0,0,1
873,0,0,0,1,0,1,1,0,0,0,0,0,0,0
874,1,0,1,0,1,0,0,0,0,0,0,0,0,1
875,1,0,0,1,1,0,0,0,0,0,0,1,0,0
876,0,0,0,1,0,1,0,0,0,0,1,0,0,0
877,0,0,0,1,0,1,0,0,0,0,1,0,0,0
879,1,1,0,0,1,0,1,0,0,0,0,0,0,0
880,1,0,1,0,1,0,0,0,0,0,1,0,0,0
881,0,0,0,1,0,1,0,0,0,0,0,0,0,1
882,0,0,0,1,1,0,0,0,0,0,1,0,0,0
883,0,0,1,0,0,1,0,0,0,0,0,0,0,1
884,0,0,0,1,0,1,0,0,0,0,1,0,0,0
885,0,0,0,1,1,0,1,0,0,0,0,0,0,0
886,0,0,1,0,0,1,0,0,0,0,0,0,0,1
887,1,1,0,0,1,0,0,0,0,0,1,0,0,0
889,1,1,0,0,0,1,0,0,0,0,0,0,0,1
890,0,0,0,1,0,1,0,0,0,0,0,0,0,1

In [18]:
target = final_features_1["Survived"]
final_features_1 = final_features_1.drop("Survived", axis=1)

In [19]:
final_features_1.shape, target.shape

((714, 13), (714,))

In [20]:
final_features_1

,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,Age_cat_Adult,Age_cat_Baby,Age_cat_Child,Age_cat_Senior,Age_cat_Student,Age_cat_Teenager,Age_cat_Unknown,Age_cat_Young Adult
0,0,0,1,0,1,0,0,0,0,1,0,0,0
1,1,0,0,1,0,1,0,0,0,0,0,0,0
2,0,0,1,1,0,0,0,0,0,0,0,0,1
3,1,0,0,1,0,0,0,0,0,0,0,0,1
4,0,0,1,0,1,0,0,0,0,0,0,0,1
6,1,0,0,0,1,1,0,0,0,0,0,0,0
7,0,0,1,0,1,0,1,0,0,0,0,0,0
8,0,0,1,1,0,0,0,0,0,0,0,0,1
9,0,1,0,1,0,0,0,0,0,0,1,0,0
10,0,0,1,1,0,0,1,0,0,0,0,0,0
11,1,0,0,1,0,1,0,0,0,0,0,0,0
12,0,0,1,0,1,0,0,0,0,1,0,0,0
13,0,0,1,0,1,1,0,0,0,0,0,0,0
14,0,0,1,1,0,0,0,0,0,0,1,0,0
15,0,1,0,1,0,1,0,0,0,0,0,0,0
16,0,0,1,0,1,0,1,0,0,0,0,0,0
18,0,0,1,1,0,0,0,0,0,0,0,0,1
20,0,1,0,0,1,0,0,0,0,0,0,0,1
21,0,1,0,0,1,0,0,0,0,0,0,0,1
22,0,0,1,1,0,0,0,0,0,0,1,0,0
23,1,0,0,0,1,0,0,0,0,0,0,0,1
24,0,0,1,1,0,0,0,1,0,0,0,0,0
25,0,0,1,1,0,1,0,0,0,0,0,0,0
27,1,0,0,0,1,0,0,0,0,1,0,0,0
30,1,0,0,0,1,1,0,0,0,0,0,0,0
33,0,1,0,0,1,0,0,0,1,0,0,0,0
34,1,0,0,0,1,0,0,0,0,0,0,0,1
35,1,0,0,0,1,1,0,0,0,0,0,0,0
37,0,0,1,0,1,0,0,0,0,1,0,0,0
38,0,0,1,1,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
856,1,0,0,1,0,1,0,0,0,0,0,0,0
857,1,0,0,0,1,1,0,0,0,0,0,0,0
858,0,0,1,1,0,0,0,0,0,1,0,0,0
860,0,0,1,0,1,1,0,0,0,0,0,0,0
861,0,1,0,0,1,0,0,0,0,1,0,0,0
862,1,0,0,1,0,1,0,0,0,0,0,0,0
864,0,1,0,0,1,0,0,0,0,1,0,0,0
865,0,1,0,1,0,1,0,0,0,0,0,0,0
866,0,1,0,1,0,0,0,0,0,0,0,0,1
867,1,0,0,0,1,0,0,0,0,0,0,0,1
869,0,0,1,0,1,0,1,0,0,0,0,0,0
870,0,0,1,0,1,0,0,0,0,0,0,0,1
871,1,0,0,1,0,1,0,0,0,0,0,0,0
872,1,0,0,0,1,0,0,0,0,0,0,0,1
873,0,0,1,0,1,1,0,0,0,0,0,0,0
874,0,1,0,1,0,0,0,0,0,0,0,0,1
875,0,0,1,1,0,0,0,0,0,0,1,0,0
876,0,0,1,0,1,0,0,0,0,1,0,0,0
877,0,0,1,0,1,0,0,0,0,1,0,0,0
879,1,0,0,1,0,1,0,0,0,0,0,0,0
880,0,1,0,1,0,0,0,0,0,1,0,0,0
881,0,0,1,0,1,0,0,0,0,0,0,0,1
882,0,0,1,1,0,0,0,0,0,1,0,0,0
883,0,1,0,0,1,0,0,0,0,0,0,0,1
884,0,0,1,0,1,0,0,0,0,1,0,0,0
885,0,0,1,1,0,1,0,0,0,0,0,0,0
886,0,1,0,0,1,0,0,0,0,0,0,0,1
887,1,0,0,1,0,0,0,0,0,1,0,0,0
889,1,0,0,0,1,0,0,0,0,0,0,0,1
890,0,0,1,0,1,0,0,0,0,0,0,0,1

In [21]:
from sklearn.model_selection import train_test_split
train_X, test_X, train_Y, test_Y = train_test_split(final_features_1, target, test_size=0.2)

In [38]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

clf = RandomForestClassifier(n_estimators=10)
clf = clf.fit(train_X, train_Y)
prediction_1 = clf.predict(test_X)
accuracy_1 = accuracy_score(test_Y, prediction_1)
accuracy_1

0.83216783216783219

In [45]:
clf = RandomForestClassifier(n_estimators=100)
clf = clf.fit(train_X, train_Y)
prediction_1 = clf.predict(test_X)
accuracy_1 = accuracy_score(test_Y, prediction_1)
accuracy_1

0.84615384615384615

In [60]:
from sklearn.cross_validation import KFold

def run_kfold(clf, X_all, y_all):
    kf = KFold(X_all.shape[0], n_folds=10, shuffle=True)
    outcomes = []
    fold = 0
    for train_index, test_index in kf:
        fold += 1
        X_train, X_test = X_all.values[train_index], X_all.values[test_index]
        y_train, y_test = y_all.values[train_index], y_all.values[test_index]
        clf.fit(X_train, y_train)
        predictions = clf.predict(X_test)
        accuracy = accuracy_score(y_test, predictions)
        outcomes.append(accuracy)
        print("Fold {0} accuracy: {1}".format(fold, accuracy))     
    mean_outcome = np.mean(outcomes)
    print("Mean Accuracy: {0}".format(mean_outcome)) 

run_kfold(clf, final_features_1, target)

Fold 1 accuracy: 0.7777777777777778
Fold 2 accuracy: 0.7638888888888888
Fold 3 accuracy: 0.7777777777777778
Fold 4 accuracy: 0.7222222222222222
Fold 5 accuracy: 0.7605633802816901
Fold 6 accuracy: 0.8591549295774648
Fold 7 accuracy: 0.8591549295774648
Fold 8 accuracy: 0.8450704225352113
Fold 9 accuracy: 0.8450704225352113
Fold 10 accuracy: 0.7605633802816901
Mean Accuracy: 0.79712441314554

In [54]:
test.shape[0] + train.shape[0]

1309